
<%- include partials/header.ejs %>

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4"><%= title %></h1>
    <p class="lead">List of business contacts!</p>
    <br class="my-4">
    <div class="contact-lists">
      <table class="table table-hover table-responsive-sm">
        <thead class="thead-light">
          <tr>
            <th>Name</th>
            <th>Contact Number</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <% for (let count = 0; count < contactList.length; count++) { %>
            <tr>
              <td><%= contactList[count].name %></td>
              <td><%= contactList[count].number %></td>
              <td><%= contactList[count].email %></td>
            </tr>             
          <% } %>          
        </tbody>
      </table>
    </div>
  </div>
</main>

<%- include partials/footer.ejs %>