
<%- include partials/header.ejs %>

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4"><%= title %></h1>
    <% if (locals.sub_title) { %>
      <p class="lead">
        <h2><%= sub_title %></h2>
      </p>
    <% } %>
    <hr class="my-4">    
    <% if (locals.message) { %>
      <p>
        <%= message %>
      </p>
    <% } %>
  </div>
</div>

<%- include partials/footer.ejs %>