<%- include partials/header.ejs %>

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">
      <h1><%= error.status %> <%= message %></h1>
       <p class="lead"> The content you are looking for is not available in the website. Use the menu to navigate to other pages.</p>
    </h1>

    <hr class="my-4">
    <p>
    <pre><%= error.stack %></pre>
    </p>
  </div>
  </div>
</main>
<%- include partials/footer.ejs %>